{% extends 'base.html' %}
{% block mainbody %}
<main>
    <div class="container">
      <section class="section register min-vh-60 d-flex flex-column align-items-center justify-content-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="">
              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">Vaccine Registration</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mx-auto" style="width: 100%;" >
                <section class="section">
                  <div class="row">
            
                    <div class="mx-auto" style="width: 120%;">
            
                      <div class="card" style="margin-bottom: 0px;">
                        <div class="card-body">
                          <h5 class="card-title">
                            Fill Up Vaccine Information
                          </h5>
                          <p>
                            <code style="font-size: 18px;">
                              <strong>
                               Fill up correct information, You cannot change once filled-up.
                               
                              </strong>
                            </code>
                          </p>
                          <br>
                          <!-- Custom Styled Validation -->
                          <form class="row g-4 needs-validation was-validated" 
                          action=""
                          method="post"
                          novalidate="">
                          <div class="row">                            
                            <div class="col-md-4">
                              <label for="first_name" 
                                name="first_name" 
                                id="first_name" 
                                class="form-label">First name</label>
                              <input type="text" 
                                name="first_name" 
                                id="first_name" 
                                class="form-control" 
                                value="{{current_user.first_name}}" 
                                readonly
                                required="">
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="last_name"
                                name="last_name" 
                                id="last_name" 
                                class="form-label">Last name</label>
                              <input type="text" 
                              class="form-control" 
                              id="last_name" 
                              name="last_name" 
                              value="{{current_user.last_name}}" 
                              readonly
                              required="">
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="nid_number" 
                                name="nid_number" 
                                id="nid_number" class="form-label">NID Number</label>
                              <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">NID:</span>
                                <input type="text" class="form-control" name="nid_number" 
                                id="nid_number" aria-describedby="inputGroupPrepend" 
                                value="{{current_user.nid}}" 
                                readonly
                                required="">
                                <div class="invalid-feedback">
                                  Enter your national id number.
                                </div>
                              </div>
                            </div>
                          </div> <!-- End of row -->

                          <div class="row">
                            <div class="col-md-4">
                              <label for="vaccine_for" 
                              name="vaccine_for" 
                              id="vaccine_for"
                              class="form-label">Vaccine For</label>
                              <select class="form-select" name="vaccine_for" id="vaccine_for">
                                {% for vaccine in context.vaccines %}
                                  <option selected>{{vaccine.vaccine_name}}</option>
                                {% endfor %}
                              </select>
                              <div class="invalid-feedback">
                                Please provide a Valid Name
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="hospital_id" name="hospital_id" 
                              id="hospital_id" class="form-label">Hospital</label>
                              <select class="form-select" id="hospital_id" name="hospital_id">
                                <option selected>Select</option>
                                {% for hospital in context.hospitals %}                                
                                    <option value="{{hospital.hospital_id}}">{{hospital.name}}</option>
                                {% endfor %}
                              </select>
                              <div class="invalid-feedback">
                                Password for your account.
                              </div>
                            </div>
                              <div class="col-md-4">
                                <label for="payment_category" name="payment_category" 
                                id="payment_category" class="form-label">Payment/Category</label>
                            
                                <input type="text" class="form-control" name="payment_category" 
                                id="payment_category" id="payment_category" required="" value="Govt." 
                                readonly>
                                <div class="invalid-feedback">
                                  Enter your payment_category number.
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required="">
                                <label class="form-check-label" for="invalidCheck">
                                  Agree to terms and conditions
                                </label>
                                <div class="invalid-feedback">
                                  You must agree before submitting.
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <button class="btn btn-primary" type="submit">Submit form</button>  
                            </div>
                          </form><!-- End Custom Styled Validation -->
                          <p style="padding-top: 20px;">
                            Registered already?
                            <strong>
                              <a href="{{url_for('auth.login')}}"><u>Download Vaccine Card</u></a>
                            </strong>
                        </div>
                      </div>
            
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    </section>

    </div>
  </main><!-- End #main -->
{% endblock mainbody %}
