
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="ThemeMarch">
  <!-- Site Title -->
  <title>Car Booking Invoice</title>
  <link rel="stylesheet" href="https://tanjimreza.me/cdn/assets/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
  
</head>
<style>

  body{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
  }
</style>
<body>
  <button id="clickbind">Click</button>
  <div class="cs-container">
    <div class="cs-invoice cs-style1">
      <div class="cs-invoice_in" id="download_section">
        <div class="cs-invoice_head cs-type1 cs-mb25">
          <div class="cs-invoice_left" style="width: 150ch;">
            <p class="cs-invoice_number cs-primary_color cs-mb5 cs-f16"><b class="cs-primary_color">Order Number: #2394 </b></p>
            <p class="cs-invoice_date cs-primary_color cs-m0">
                <b class="cs-primary_color">Issue Date: <b id="today">02.09.2022</b>

                </b>
            </p>
          </div>
          <div class="cs-invoice_right cs-text_right">
            <!-- <div class="cs-logo cs-mb5"><img src="https://tanjimreza.me/cdn/assets/img/logo.svg" alt="Logo"></div> -->
            <div class="cs-logo cs-mb5"><img crossorigin="anonymous" src="https://tanjimreza.me/cdn/assets/img/logo2.svg" style="max-width: 27%;" alt="Logo"></div>
          </div>
        </div>
        <div class="cs-invoice_head cs-mb10">
          <div class="cs-invoice_left">
            <div class="cs-box cs-style1 cs-type1 cs-text_center cs-mb10">
              <p class="cs-mb5">No Of Days</p>
              <!-- <p class="cs-accent_color cs-f24 cs-bold cs-mb0" >15 Days</p> -->
              <textarea class="cs-accent_color cs-f24 cs-bold cs-mb0" style="border: none; outline: none; resize: none; height: 2ch; width: 10ch; white-space: normal; text-align: justify; -moz-text-align-last: center; text-align-last: center; overflow: hidden; line-height: 1;">30 Days</textarea>
            </div>
          </div>
          <div class="cs-invoice_right cs-text_right">
            <b class="cs-primary_color">VentureBit</b>
            <p>
              Dhaka, Bangladesh <br>
              <a href="http://www.venturebitbd.com/">VentureBitBD.com</a> <br>
              <a href="mailto:venturebitbd@gmail.com">venturebitbd@gmail.com</a> 
            </p>
          </div>
        </div>
        <ul class="cs-grid_row cs-col_3 cs-mb10">
          <li class="cs-mb20">
            <b class="cs-primary_color">Thank You for your purchase!</b>
            <p class="cs-mb0">
              We provide 100% Genuine Service.
              If you face any issues, please contact us.
            </p>
          </li>
          <li class="cs-mb20">
            <b class="cs-primary_color">Contact Us:</b>
            <p class="cs-mb0">
              WhatsApp:- <a href="tel:+8801642579258">01642579258</a><br>
              Message on <a href="https://www.facebook.com/VentureBitbd"></a>Facebook <br>
              20 Feb 2022, 9:00 Am
            </p>
          </li>
          <li class="cs-mb20">
            <div class="cs-box cs-style1 cs-type1 cs-text_center cs-max_w_150 cs-left_auto">
              <p class="cs-mb5">Type</p>
              <p class="cs-accent_color cs-f24 cs-bold cs-mb0">Digital</p>
            </div>
          </li>
        </ul>
        <div class="cs-table cs-style1 cs-type2 cs-mb30">
          <div class="cs-round_border">
            <p class="cs-primary_color cs-semi_bold cs-f18 cs-mb0 cs-table_title">Customer Info</p>
            <div class="cs-table_responsive">
              <table class="cs-border_less">
                <tbody>
                  <tr class="cs-table_baseline">
                    <td class="cs-width_8">
                      <div class="cs-table cs-style2">
                        <table>
                          <tbody>
                            <tr>
                              <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">Name:</b> Sushmita C</td>
                              <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">Phone NO:</b> 01610043739</td>
                            </tr>
                            <tr>
                              <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">Source:</b> Page</td>
                              <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">Type:</b> Regular</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                    <td class="cs-width_4">
                      <b class="cs-semi_bold cs-primary_color">Address:</b>
                      <p class="cs-mb0">NaN,Dhaka</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="cs-box2_wrap cs-mb30">
          <div class=" cs-box cs-style2">
            <p class="cs-primary_color cs-semi_bold cs-f18 cs-mb5">Disney+, Hulu, ESPN+ Bundle</p>
            <div class="cs-table cs-style2">
              <table>
                <tbody>
                  <tr>
                    <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">Email:</b> venturebit.disney@protonmail.com
                    </td>
                  </tr>
                  <tr>
                    <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">Password:</b> ShareReview#2022Please
                    </td>
                  </tr>
                  <tr>
                    <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">Profile:</b> Sushmita C</td>
                  </tr>
                  <tr>
                    <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">PIN:</b> 1234</td>
                  </tr>
                  <tr>
                    <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">Expire Date:</b> 
                       <p id="expiry">02.10.2022</p> 
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class=" cs-box cs-style2">
            <p class="cs-primary_color cs-semi_bold cs-f18 cs-mb5">Netflix Information</p>
            <div class="cs-table cs-style2">
              <table>
                <tbody>
                  <tr>
                    <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">Email:</b> NaN</td>
                  </tr>
                  <tr>
                    <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">Password:</b> NaN</td>
                  </tr>
                  <tr>
                    <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">Profile:</b> NaN</td>
                  </tr>
                  <tr>
                    <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">PIN:</b> NaN</td>
                  </tr>
                  <tr>
                    <td contentEditable="true"><b class="cs-primary_color cs-semi_bold">Expire Date:</b> NaN2</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="cs-table cs-style2">
          <div class="cs-round_border">
            <div class="cs-table_responsive">
              <table>
                <thead>
                  <tr class="cs-focus_bg">
                    <th class="cs-width_6 cs-semi_bold cs-primary_color">Items Details</th>
                    <th class="cs-width_2 cs-semi_bold cs-primary_color">Price</th>
                    <th class="cs-width_2 cs-semi_bold cs-primary_color">Tax</th>
                    <th class="cs-width_2 cs-semi_bold cs-primary_color cs-text_right">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td contentEditable="true" class="cs-width_6">Disney+, Hulu, ESPN Bundle | 30 Days | 1 Profile</td>
                    <td contentEditable="true" class="cs-width_2">250 BDT</td>
                    <td class="cs-width_2">%0</td>
                    <td contentEditable="true" class="cs-width_2 cs-text_right cs-primary_color cs-semi_bold">250 BDT</td>
                  </tr>
                  <tr>
                    <td class="cs-width_6">Service</td>
                    <td class="cs-width_2">0</td>
                    <td class="cs-width_2">%0</td>
                    <td class="cs-width_2 cs-text_right cs-primary_color cs-semi_bold">250 BDT</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="cs-table cs-style2">
          <div class="cs-table_responsive">
            <table>
              <tbody>
                <tr class="cs-table_baseline">
                  <td class="cs-width_5">
                    <b class="cs-primary_color">Pay By</b><br>
                    	 <br>

                    <p contentEditable="true">Transaction ID:&nbsp;&nbsp;</p>
                    <p contentEditable="true">bKash Number:&nbsp;&nbsp;</p>

                  </td>
                  <td contentEditable="true" class="cs-width_5 cs-primary_color cs-bold cs-f16 cs-text_right">Total Amount:</td>
                  <td contentEditable="true" class="cs-width_2 cs-text_right cs-primary_color cs-bold cs-primary_color cs-f16">250 BDT</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="cs-note">
          <div class="cs-note_left">
            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewbox="0 0 512 512"><path d="M416 221.25V416a48 48 0 01-48 48H144a48 48 0 01-48-48V96a48 48 0 0148-48h98.75a32 32 0 0122.62 9.37l141.26 141.26a32 32 0 019.37 22.62z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M256 56v120a32 32 0 0032 32h120M176 288h160M176 368h160" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>
          </div>
          <div class="cs-note_right">
            <p class="cs-mb0"><b class="cs-primary_color cs-bold">Note:</b></p>
            <p contentEditable="true" class="cs-m0"> Thanks for your purchase. Contact us 24/7 for any help. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div> 
        </div><!-- .cs-note -->
      </div>
      <div class="cs-invoice_btns cs-hide_print">
        <a href="javascript:window.print()" class="cs-invoice_btn cs-color1">
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M384 368h24a40.12 40.12 0 0040-40V168a40.12 40.12 0 00-40-40H104a40.12 40.12 0 00-40 40v160a40.12 40.12 0 0040 40h24" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><rect x="128" y="240" width="256" height="208" rx="24.32" ry="24.32" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><path d="M384 128v-24a40.12 40.12 0 00-40-40H168a40.12 40.12 0 00-40 40v24" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/><circle cx="392" cy="184" r="24"/></svg>
          <span>Print</span>
        </a>
        <button id="download_btn" class="cs-invoice_btn cs-color2">
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Download</title><path d="M336 176h40a40 40 0 0140 40v208a40 40 0 01-40 40H136a40 40 0 01-40-40V216a40 40 0 0140-40h40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M176 272l80 80 80-80M256 48v288"/></svg>
          <span>Download</span>
        </button>
      </div>
    </div>
  </div>
  
<script>

date = new Date();
year = date.getFullYear();
month = date.getMonth() + 1;
day = date.getDate();
document.getElementById("today").innerHTML = month + "." + day + "." + year;

const d = new Date();
d.setDate(d.getDate() + 30);
year = d.getFullYear();
month = d.getMonth() + 1;
day = d.getDate();
document.getElementById("expiry").innerHTML = month + "." + day + "." + year;



</script>
  <script src="https://tanjimreza.me/cdn/assets/js/jquery.min.js"></script>
  <script src="https://tanjimreza.me/cdn/assets/js/jspdf.min.js"></script>
  <script src="https://tanjimreza.me/cdn/assets/js/html2canvas.min.js"></script>
  <script src="https://tanjimreza.me/cdn/assets/js/main.js"></script>
<!-- Code injected by live-server -->
<script type="text/javascript">
	// <![CDATA[  <-- For SVG support
	if ('WebSocket' in window) {
		(function () {
			function refreshCSS() {
				var sheets = [].slice.call(document.getElementsByTagName("link"));
				var head = document.getElementsByTagName("head")[0];
				for (var i = 0; i < sheets.length; ++i) {
					var elem = sheets[i];
					var parent = elem.parentElement || head;
					parent.removeChild(elem);
					var rel = elem.rel;
					if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
						var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
						elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
					}
					parent.appendChild(elem);
				}
			}
			var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
			var address = protocol + window.location.host + window.location.pathname + '/ws';
			var socket = new WebSocket(address);
			socket.onmessage = function (msg) {
				if (msg.data == 'reload') window.location.reload();
				else if (msg.data == 'refreshcss') refreshCSS();
			};
			if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
				console.log('Live reload enabled.');
				sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
			}
		})();
	}
	else {
		console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
	}
	// ]]>
</script>
</body>
</html>

