<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Signup</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="">
              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">Register</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mx-auto" style="width: 100%;" >
                <section class="section">
                  <div class="row">
            
                    <div class="mx-auto" style="width: 100%;">
            
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">
                            Fill up the information to get started
                          </h5>
                          <p>
                            <code style="font-size: 18px;">
                              <strong>
                               Only for General Public.
                              </strong>
                            </code>
                              Hospitals and Medical Practitioners will get their credentials from the respective authorities.
                          </p>
                          <br>
                          <!-- Custom Styled Validation -->q
                          <form class="row g-4 needs-validation was-validated" 
                          action=""
                          method="post"
                          novalidate="">
                          <div class="row">                            
                            <div class="col-md-4">
                              <label for="validationCustom01" class="form-label">First name</label>
                              <input type="text" class="form-control" id="validationCustom01" value="" required="">
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="validationCustom02" class="form-label">Last name</label>
                              <input type="text" class="form-control" id="validationCustom02" value="" required="">
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="validationCustomUsername" class="form-label">NID Number</label>
                              <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">NID:</span>
                                <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required="">
                                <div class="invalid-feedback">
                                  Enter your national id number.
                                </div>
                              </div>
                            </div>
                          </div> <!-- End of row -->

                          <div class="row">
                            <div class="col-md-4">
                              <label for="validationCustom04" class="form-label">Email</label>
                              <input type="text" class="form-control" id="validationCustom04" required="">
                              <div class="invalid-feedback">
                                Please provide a Email.
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="validationCustom04" class="form-label">Password</label>
                              <input type="text" class="form-control" id="validationCustom04" required="">
                              <div class="invalid-feedback">
                                Password for your account.
                              </div>
                            </div>
                              <div class="col-md-4">
                                <label for="validationCustom04" class="form-label">Mobile</label>
                            
                                <input type="text" class="form-control" id="validationCustom04" required="">
                                <div class="invalid-feedback">
                                  Enter your mobile number.
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required="">
                                <label class="form-check-label" for="invalidCheck">
                                  Agree to terms and conditions
                                </label>
                                <div class="invalid-feedback">
                                  You must agree before submitting.
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <button class="btn btn-primary" type="submit">Submit form</button>  
                            </div>
                          </form><!-- End Custom Styled Validation -->
                          <p style="padding-top: 10px;">
                            Registered already?
                            <strong>
                              <a href="{{url_for('auth.login')}}"><u>Login Now!</u></a>
                            </strong>
                        </div>
                      </div>
            
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>